dns_record              = "server.mohamed-abdelbaset.sbx.hashidemos.io"
hosted_zone_name        = "mohamed-abdelbaset.sbx.hashidemos.io"
instance_type           = "t2.large"
name                    = "my-vm"
rds_password            = "Mystrongpassword123!"
region                  = "eu-west-1"
tfe_encryption_password = "Mystrongpassword123"
tfe_image_tag           = "v202503-1"
tfe_license             = "<YOUR_TFE_LICENSE_KEY>"
